<html>
<head>
	<title>Stock Info</title>
	<script type="text/javascript" src="static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="static/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="static/js/buttons.flash.min.js"></script>
	<script type="text/javascript" src="static/js/jszip.min.js"></script>
	<script type="text/javascript" src="static/js/pdfmake.min.js"></script>
	<script type="text/javascript" src="static/js/vfs_fonts.js"></script>
	<script type="text/javascript" src="static/js/buttons.html5.min.js"></script>
	<script type="text/javascript" src="static/js/stocklist.js"></script>

	<link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" type="text/css" href="static/css/buttons.dataTables.min.css" />
</head>
<body>
	<table id="stockTable">
		<thead>
		<tr>
			<th>股票代码</th>
			<th>股票名称</th>
			<th>行业</th>
			<th>地区</th>
			<th>市盈率</th>
			<th>流通股本</th>
			<th>总股本(万)</th>
			<th>总资产(万)</th>
			<th>流动资产</th>
			<th>固定资产</th>
			<th>每股收益</th>
			<th>每股净资</th>
			<th>市净率</th>
			<th>上市日期</th>
		</tr>
		</thead>
		<tfoot>
			<tr>
			<th>股票代码</th>
			<th>股票名称</th>
			<th>行业</th>
			<th>地区</th>
			<th>市盈率</th>
			<th>流通股本</th>
			<th>总股本(万)</th>
			<th>总资产(万)</th>
			<th>流动资产</th>
			<th>固定资产</th>
			<th>每股收益</th>
			<th>每股净资</th>
			<th>市净率</th>
			<th>上市日期</th>
			</tr>
		</tfoot>
	</table>
</body>
</html>
