<html>
<head>
	<title>Stock Info</title>
	<script type="text/javascript" src="static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/jquery.dataTables.min.css" />
</head>
<body>
	<table id="stockTable">
		<thead>
		<tr>
			<th>股票代码</th>
			<th>股票名称</th>
			<th>行业</th>
			<th>市盈率</th>
			<th>流通股本</th>
		</tr>
		</thead>
		<tfoot>
			<tr>
			<th>股票代码</th>
			<th>股票名称</th>
			<th>行业</th>
			<th>市盈率</th>
			<th>流通股本</th>
			</tr>
		</tfoot>
	</table>

	<script>
		$('#stockTable').DataTable({
			"ajax": "/stocklist",
			"columns": [
					{"data": "code"},
					{"data": "name"},
					{"data": "industry"},
					{"data": "area"},
					{"data": "pe"}

			]
		});
	</script>
</body>


</html>
